@import "fonts.css";
@import "colours.css";

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: clamp(15px, 5vmin, 30px);
    margin-top:5px;
    flex-direction:row;
    background-color: var(--dark-accent-color);
    color:whitesmoke;
    font-family: "square";
    letter-spacing: 2px;
  }
  
  .active, .collapsible:hover {
    background-color:var(--med-accent-color);
  }
  
  .collapsible:after {
    content: '\002B';
    color: whitesmoke;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    /* padding: 0 18px; */
    height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-direction:row;
  }

  .collapsible-row {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    margin:1vmin;
    background-color: var(--dark-accent-color);
    padding: clamp(5px, 2vw, 18px);
    flex-wrap:wrap;

  }

  .btn {
    background-color: var(--dark-accent-color);
    border: none;
    color: whitesmoke;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin:auto;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: var(--med-accent-color);
  }

  #wide-format {
    display: flex;
  }

  #medium-format {
    display: none;
  }

  #mobile-format {
    display: none;
  }

  p {
    line-height:1.2rem;
    max-width:900px;
    text-align:left;
  }

  h5 {
    font-size: 1.5rem;
    font-weight:lighter;
    padding: 1rem;
    margin: 0;
    text-align: center;
    background:black;
    margin-top:2%; 
    line-height:1.8rem; 
    word-spacing:2px;
    font-family:'livingstone';
  }

  @media all and (max-width:1150px) {
    #wide-format {
        display:none;
    }
    #medium-format {
        display:block;
    }
    h5 {
        font-size: 1.2rem;
    }
}

@media all and (max-width:800px) {
    #medium-format {
        display:none;
    }
    #mobile-format {
        display:flex;
    }

    .page-title-full {
      margin-top:2%;
      margin-bottom:1%;
    }
}