* { box-sizing: border-box; }
@import "colours.css";
@import "fonts.css";

  @font-face {
    font-family: "AmericanUncial";
    src: url("American\ Uncial\ Regular/American\ Uncial\ Regular.otf");
    }

    @font-face {
        font-family: "IrishUncial";
        src: url("irish-uncialfabeta/IrishUncialfabeta-Bold.ttf");
        }

  .month {
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    /* font-family: "AmericanUncial"; */
    font-family: "Livingstone";
    margin-bottom:0;
    background:rgb(51, 113, 94); 
    color:black; 

  }

  .past-month {
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    /* font-family: "AmericanUncial"; */
    font-family: "Livingstone";
    margin-bottom:0;
    background:rgb(0,0,0,0.3);
    color:white;

  }

.show {
    font-weight:lighter;
    padding: 1rem;
    margin: 0.5rem;
    margin-right:0.5rem;
    text-align: center;

    margin-bottom:0;
    background:hsl(169, 38%, 5%); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 1.25em;
    display:block;
}

.show-title {
    font-weight:bold;
}

.show-date {
    font-weight:lighter;
}

.show-details {
    font-weight:lighter;
    font-size:smaller;
}


.past-month .show {
    background:rgb(50,50,50,0.5);
}

.past-show {
    font-weight:lighter;
    padding: 1rem;
    margin: 0.5rem;
    margin-right:0.5rem;
    text-align: center;

    margin-bottom:0;
    background:rgb(50,50,50,0.5);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 1.25em;
    display:block;
}

.event {
    background-color: var(--dark-accent-color);
    padding: clamp(5px, 5vw, 20px);
    margin-bottom:clamp(5px, 5vw, 30px);
}

.title-bar{
    display:flex;
    justify-content: space-between;
    line-height:normal;
}

.title {
    font-size: clamp(20px, 5vw, 25px);
    align-self:center;
    margin-right:1em;
    font-family:'IrishUncial';
    text-transform: uppercase;
}

.sub-title {
    font-size: clamp(15px, 5vw, 25px);
    font-weight:lighter;
}

.date {
    background:black;
    /* width: clamp(75px, 15vw, 150px);
    height: clamp(75px, 10vw, 150px); */
    padding:clamp(8px, 1vw, 20px);
    /* font-weight:lighter; */
    text-align: center;
    font-family: 'El Messiri';
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    white-space: normal;
    /* border:2px solid white; */
    font-size: clamp(15px, 3vw, 20px);
    max-width:40%;
}

.event-content {
    padding-top:clamp(8px, 1vw, 20px);
}


p {
    background:none;
    margin:0;
    padding:0;
    font-size: inherit;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:clamp(8px, 1vw, 20px);
    margin-bottom:clamp(8px, 1vw, 20px);
    width:100%;
    max-width:1023px;
  }

  .caption {
    font-style: italic;
    font-family:'Raleway';
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: inherit;
    text-align: center;
    margin-top:clamp(8px, 1vw, 20px);
  }