@font-face {
    font-family: "AmericanUncial";
    src: url("American\ Uncial\ Regular/American\ Uncial\ Regular.otf");
    }
  
  @font-face {
    font-family: "IrishUncial";
    src: url("irish-uncialfabeta/IrishUncialfabeta-Bold.ttf");
    }
      
  @font-face {
    font-family: "Oseberg";
    src: url("oseberg/Oseberg.ttf");
    }
  
  @font-face {
    font-family: "martel";
    src: url("martel/martel.ttf");
    }
  
    @font-face {
      font-family: "livingstone";
      src: url("livingstone/Livingst.ttf");
      }

    @font-face {
      font-family: "square";
      src: url("square/Square.ttf");
      }

      @font-face {
        font-family: "ErikasBuero";
        src: url("ErikasBuero/ErikasBuero.ttf");
        }

      @font-face {
          font-family: "ErikasBuero";
          src: url("ErikasBuero/ErikasBueroBold.ttf");
          font-weight: bold;
      }
      /* @font-face {
          font-family: "ErikasBuero";
          src: url("ErikasBuero/ErikasBuero_I.ttf");
          font-style: italic;
      } */
      /* @font-face {
          font-family: "ErikasBuero";
          src: url("ErikasBuero/ErikasBuero_B_I.ttf");
          font-weight: bold;
          font-style: italic;
      } */
