:root {
  --main-bg-color: rgb(0,0,0);
  /* --dark-accent-color: rgb(59, 58, 55); */
  --med-accent-color:#142f29;
  --dark-accent-color:#0d1d1a;
  --light-accent-color: rgb(51, 113, 94);
}

* {   
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "AmericanUncial";
  src: url("American\ Uncial\ Regular/American\ Uncial\ Regular.otf");
  }

  @font-face {
    font-family: "IrishUncial";
    src: url("irish-uncialfabeta/IrishUncialfabeta-Bold.ttf");
    }

header {
  text-align: center;
  /* background: url('images/knot_profile_hounds.png'); */
  /* background: url('images/houndsknot.png'); */
  /* height:10em; */
  height: clamp(100px, 20vw, 170px);
  /* height: clamp(100px, 5vw, 160px); */
  background-size: clamp(100px, 150%, 1500px) auto;
  background-repeat:no-repeat;
  background-position-x: 50%;
  background-position-y: 15%;
  padding:clamp(16px, 5vw, 32px);
  padding-top:clamp(20px, 8vw, 40px);
  color: white;
  /* font-family: 'AmericanUncial', monospace; */
  font-family: 'IrishUncial', monospace; 
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'El Messiri';
  color: white;
  /* background-image: url('images/hounds-profile-wide1.png'); */
  background-size: clamp(100px, 150%, 1000px) auto;
  background-repeat:no-repeat;
  background-position-x: 50%; 
  background-position-y: -25em;
}

.splash-image {
  text-align: center;
  background-image: url('images/knot_profile-full.png');
  background-size: clamp(100px, 200%, 2000px) auto;
  /* background-size:cover; */
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y: 45%;
  color: white;
  font-family: 'Cormorant Unicase', monospace;
  margin: 0px -10px 0px -10px;
  width:100%;
  height: clamp(200px, 50vw, 450px);
  /* opacity: 0.8; */
  /* max-width:1000px; */
  margin:auto;
}

.menu {
    font-family: 'IrishUncial';
    height:100%;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover { 
  /* color: #506b35; */
  /* color: #ded8b1 */
  color: var(--light-accent-color);
  /* text-shadow: -2px 0 rgb(47, 44, 27), 0 2px rgb(47, 44, 27), 2px 0 rgb(47, 44, 27), 0 -2px rgb(47, 44, 27); */
}

h1 {
  font-size: clamp(25px, 6vmin, 6vmin);

  font-weight:lighter;
  /* padding: 8vmin 6vmin 6vmin; */
  /* padding-top:5vmin; */
  margin: 0px;
  text-align:left;
  /* background: url('images/houndsknot.png');
  background-size: clamp(100px, 100%, 1000px) auto;
  background-repeat:no-repeat;
  background-position-x: center;
  background-position-y: center; */
}

h2 {
  /* font-size: 2rem;
  height: clamp(100px, 15vw, 250px); */
  font-size: clamp(40px, 8vw, 75px);
  font-weight:lighter;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-family: 'Cormorant Unicase';
}

h3 {
  font-size: 2rem;
  font-weight:lighter;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-family: 'Cormorant Unicase';
}

h4 {
  font-size: 2rem;
  font-weight:lighter;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Cormorant Unicase';
}

ul {
  padding: 10px;
  padding-top: 20px;
  background: rgb(0,0,0,0.5);
  margin:auto;
  height:100%;
    display: flex;
  justify-content: center;
  align-items: center;
}
li {
  display: inline;
  padding: 0px 10px;
  font-size: 1rem;
}

p {
  display:block;
  font-size: 1rem;
  text-align: center;
  /* padding:1rem; */
  margin:1rem;
  /* margin: */
}
/* iframe {
  position: relative;
  margin: auto;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw; 
  height: 52vw;
  max-height: 315px;
  max-width: 580px;
  font-family: 'El Messiri';
  color: white;
  background-color: var(--dark-accent-color);
} */

#feedback-page{
  text-align:left;
}

#form-main{
  width:100%;
  padding-top:30px;
  margin: auto;
  font-family: 'El Messiri';
  margin-bottom:2rem;
}

#form-div {
  background-color:var(--dark-accent-color);
  padding:5px;
  width: 450px;
  left: 50%;
  margin:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.feedback-input {
  color:#3c3c3c;
  font-family: 'El Messiri';
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: #fbfbfb;;
  padding: 13px 13px 13px 13px;
  text-align: left;
  width:96%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid var(--dark-accent-color);
  color: var(--dark-accent-color);
  outline: none;
  padding: 13px 13px 13px 13px;
}

.focused{
  color:var(--dark-accent-color);
  border:var(--dark-accent-color) solid 3px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-green{
  width: 96%;
  margin:auto;
  border: #fbfbfb solid 2px;
  cursor:pointer;
  background-color: var(--dark-accent-color);
  color:white;
  font-family: 'El Messiri';
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight:700;
}

#button-green:hover{
  background-color: white;
  color: var(--dark-accent-color);
}

@media only screen and (max-width: 580px) {
  #form-div{
    margin: auto;
    width: 88%;
    padding: 1%;
  }
}

@media all and (min-width: 950px) {
    .menu{display:block;}
    .dropdown{display:none;}
}

@media all and (max-width: 1000px) {
  .menu{display:none;}
  .dropdown{display:inline;}
  /* .splash-image{margin-top:0.8rem !important;} */
  .header{background-position-y: top !important;}
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  z-index:1000;
  /* height:30px; */
  height:100%;
  position: relative;
  /* background:rgb(50, 50, 50, 0.5); */
  width:25%;
  float: right;
  overflow:visible;
  
}

/* Dropdown Button */
.dropbtn {
  cursor: pointer;
  height:30px;
  outline:0;
  background:rgb(0,0,0,0.5);
  margin:auto;
  position: relative;
  top:calc(50% - 15px);

}

/* Dropdown button on hover & focus */
.dropbtn:hover{
  background: rgb(0,0,0, 0.7);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0,0,0, 0.7);
  top: calc(100% + clamp(16px, 5vw, 32px));
  width:100vw;
  left:-75vw;
  padding:5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  font-size:0.9rem;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin:5px;
  margin-top:0px;
  background-color: rgb(50, 50, 50, 0.5);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background:rgb(50, 50, 50, 0.8);}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin:auto;
  align-self: center;
  max-width:80%;
  margin-bottom:2%;
}

.overlay {
    /* padding: 0 4px; */
    margin:auto;
    float:center;
}

.column {
  float: left;
  width: 23%;
  display:table-cell;
  background-color: var(--dark-accent-color);
  padding: 1%;
  margin: 1%;
  position:relative;
  /* padding-bottom:10%; */
}

.front-page-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin:auto;
  align-self: center;
  width:100%;
  margin-bottom:2%;
  justify-content: space-evenly;
}

.front-page-col {
  position: relative;
  display: block;
  flex-direction: column;
  text-align: left;
  justify-content:flex-start;
  flex-wrap:nowrap;
  margin:1vmin;
  padding: clamp(5px, 2vw, 18px);
  width:45%;
  background-color: rgb(50, 50, 50, 0.5);
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: var(--dark-accent-color);
  padding: 1%;
} */

.page-title {
  /* padding: 10px; */
  text-align: center;
  background-color: var(--dark-accent-color);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin:2%;
}

.page-title-full {
  /* padding: 10px; */
  text-align: center;
  /* background-color: var(--dark-accent-color); */
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin:0;
  margin-bottom:2%;
  background-image: url('images/knot_header.png');
  height: clamp(100px, 15vw, 250px);
  /* background-size:cover; */
  background-size: 1000px;
  background-position-y: 40%;
  background-position-x: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  /* padding: 10px; */
  text-align: center;
  background-color: #3b3a3771;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin:2%;
}

#main-body {
}

.container {
  padding: 0 8px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: white;
  font-family: 'Cormorant Unicase';
  font-size: 1rem;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1%;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-family: 'El Messiri';
  position:absolute;
  bottom:3%;
  left:10%;
  margin:auto;
  font-size: 1rem;
  
}

.button:hover {
  background-color: var(--light-accent-color);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 48%;
    flex: 48%;
    max-width: 48%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 98%;
    flex: 98%;
    max-width: 98%;
  }
}